button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222222;
}

li{
    float: left;
}

.rightScreen  li {
    float: right;
}
  
li a {
    display: block;
    color:white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}
  
a:visited{
    text-decoration: none;
}

a{
    text-decoration: none;
}

.myNav {
    flex-direction: row;
    overflow: auto;
}

.dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color: #222222;
  }
  
.dropdown:hover .dropdown-options {
    display: block;
}

.dropdown{
    display: block;
    color:white;
    text-align: right;
    padding: 16px;
    text-decoration: none;
}

.hidden {
    opacity: 0%;
}

.hidden:hover {
    pointer-events: none;
}