button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222222;
}

li{
    float: left;
}

.rightScreen  li {
    float: right;
}
  
li a {
    display: block;
    color:white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
    text-decoration: none;
}
  
a:visited{
    text-decoration: none;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.myNav {
    flex-direction: row;
    overflow: auto;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #222222;
    flex-wrap: nowrap;
}

.dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color: #222222;
    margin-top: 16px;
  }
  
.dropdown:hover .dropdown-options {
    display: block;
}

.dropdown{
    display: block;
    color:white;
    text-align: right;
    padding: 16px;
    text-decoration: none;
}

.dropdown a {
   padding: 0px;
}

.dropdown-options a{
    padding: 16px;
}

.dropdown:hover {
    background-color: #111111;
}

.hidden {
    opacity: 0%;
}

.hidden:hover {
    pointer-events: none;
}

footer {
    background-color: #222222;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 16px;
}

footer a{
    color: white;
    padding: 16px;
}

footer a:hover{
    color: white;
    background-color: #111111;
    padding: 16px;
    text-decoration: none;
}