@import "navigation.css";
/* Unique stuff down here */
main {
    padding: 0% 5%;
    background-color: var(--lightBlue);
}

.hero {
    background-color: var(--heroBackground);
}

.description {
    padding: 5% 2%;
    background-color: white;
}

.description div {
    display: flex;
    justify-content: center;
    text-align: center;
}

.comunication {
    background-color: var(--lightPink);
    color: var(--lightBlack);
    padding: 10px;
}
.comunication div {
    display: flex;
    justify-content: center;
}


.grid {
    background-color: var(--white);
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.grid-item{
    background-color: var(--lightPink);
    padding: 20px;
    text-align: center;
}

.grid-item:hover{
    background-color: var(--lightBlue);
    padding: 20px;
    text-align: center;
}